{include file="log/header"/}
<head>
    <style>
        .key_word{ padding-left:10px;height:65px;display:table-cell;vertical-align: middle;}
        .container{ width:100%;margin:0 auto; height:92%;padding:10;background: #eee}
        .nav{ width:17%;border:1px solid #ddd;height:100%;float:left;overflow-y :auto;border-radius:4px;background: white }
        .log{ width:82%;border:1px solid #ddd;margin-left:10px;float:left;height:100%;border-radius:4px;background: white;}
        .file{ display:none; }
        img{ width:15px;height:15px;vertical-align:middle }
        a{ text-decoration: none }
        a:hover,a:link,a:visited,a:active{ color:black;text-decoration: none  }
        ul{ padding-left:20px; }
        #root li{ margin:10px 0;list-style: none }
        iframe{ width:100%;height:100%; }

        .err { background: #f2dede;border-color:#ebccd1; color:#a94442; }
        .warn { background: #fcf8e3;border-color:#faebcc; color:#8a6d3b; }
        .info { background: #dff0d8;border-color: #d6e9c6; color: #3c763d; }
        table { table-layout: fixed; }
        th { height:60px; }
        th,td { text-align:center; word-break:break-all}
        pre {  padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    <script type="text/javascript">
        $(function(){
            $.ajax ({
                url : '/jraz/index.php/tools/log/getLogDir',
                type : "post",
                dataType : "json",
                success : function(result) {
                    console.log(result)
                    show(result, '', 'root');
                }
            });  
        })
        function show_c(id)
        {
            if($('#'+id).css('display') == 'none'){
                $('#'+id).show(300);
            }else{
                $('#'+id).hide(300);
            }
        }
        function show(dir ,path ,root)
        {
            for (var i in dir) {
                if (typeof dir[i] == 'object') {
                    $('#'+root).append(
                        '<li>'+
                        '<span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> <a href="javascript:show_c(\''+root+'_'+i+'\')">' + i + '</a>' +
                        '<ul id="'+root+'_'+i+'" class="file">'
                    );
                    show(dir[i], path+'/'+i, root+'_'+i);
                } else {
                    var l = path +'/'+dir[i];
                    $('#'+root).append(
                        // "<li><a href='/index.php/Home/Util/showLog?path="+l+"' target='frame'><span class='glyphicon glyphicon-file'></span> " + dir[i] + "</a></li>"
                        "<li><a href='javascript:showLog(\""+l+"\")'><span class='glyphicon glyphicon-file'></span> " + dir[i] + "</a></li>"
                    );
                }
            }
        }
        // 展示日志
        function showLog(path)
        {
            var ext = path.substring(path.lastIndexOf("."),path.length);//后缀名  

            if (ext == '.log') {
                var key_word = ''
                if ($('#key_word').val() != undefined) {
                    key_word = $('#key_word').val();
                }
                
                $.ajax({
                    url : '/index.php/tools/log/showLog?path=' + path + '&key_word=' + key_word,
                    dataType : "json",
                    success : function(result) {

                        console.log(result);

                        if (result.header instanceof Object) {
                            $('.log').html('')
                            var log = result.log
                            localStorage.setItem('log', JSON.stringify(log))
                            var search = $('<form class="key_word form-inline" action="" onSubmit="return false;"></form>').append(
                                    $('<input type="text" id="key_word" onkeydown="if(event.keyCode==13){ showLog(\''+path+'\');}" name="key_word" class="form-control" placeholder="多个关键字以,分割" style="width:445px;margin-right:20px" value="'+key_word+'">')
                                ).append(
                                    $('<button type="button" class="btn btn-primary" onclick="javascript:showLog(\''+path+'\')">search</button>')
                                ).append(
                                    $('<button type="button" class="btn btn-primary" style="margin-left: 10px;" onclick="javascript:tabOpen(\''+path+'\')">open in new tab</button>')
                                ).append(
                                    $('<a href="'+path+'" target="_blank" class="btn btn-primary" style="margin-left: 10px;">download</button>')
                                )
                            $('.log').append(search)
                            buildLogTable(log, result.header);
                        } else {
                            $('.log').html($('<iframe src="'+path+'" frameborder="0"></iframe>'))
                        }
                    },
                })
            } else {
                // 标签直接展示源文件
                $('.log').html($('<iframe src="'+path+'" frameborder="0"></iframe>'))
            }
        }
        // 下载日志
        function tabOpen(path)
        {
            window.open('/index.php/tools/log/showLog?path=' + path);
        }
        // 生成日志table
        function buildLogTable(log, header)
        {
            var div = $('<div style="height:91%;overflow-y:auto;"></div>')
            var table = $('<table class="table table-striped""></table>')
            var thead = $('<thead style="background:#eee"></thead>');
            for(var i in header) {
                thead.append('<th width="'+header[i][1]+'%">'+header[i][0]+'</th>')
            }
            thead.appendTo(table);
            var tbody = $('<tbody></tbody>');
            for(var i in log){
                var clss = ''
                if (log[i]['level'] != undefined) {
                    clss = log[i]['level'].toLowerCase(); 
                }
                var tr = $('<tr class="' +clss+ '"></tr>');
                for(var j in header){
                    if(j == 'level') continue;
                    if (log[i][j] instanceof Object){
                        tr.append(
                            $('<td class="'+clss+'" style="vertical-align:middle"><button class="btn btn-primary" onclick="javascript:showJson('+i+",'"+j+'\')">查看数据</button></td>')
                        )
                    } else {
                        tr.append(
                            $('<td class="'+clss+'" style="vertical-align:middle">'+htmlEncode(log[i][j])+'</td>')
                        )
                    }
                }
                tr.appendTo(tbody);
            }
            // tbody.appendTo(table);
            div.append(table.append(tbody))
            $('.log').append(div);
        }
        // 展示需要格式化的json数据
        function showJson(i, j)
        {
            var log = JSON.parse(localStorage.getItem('log'));

            $('#modal_content').html(syntaxHighlight(log[i][j]));
            $('#json_modal').modal('show')
        }
        // json格式化
        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
            return '<pre>' + json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            }) + '</pre>';
        }
        function htmlEncode(str) {
            var div = document.createElement("div");
            div.appendChild(document.createTextNode(str));
            return div.innerHTML;
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="nav">
            <ul id="root">
            </ul>
        </div>
        <div class="log">
            <!-- <iframe src="" name="frame" frameborder="0"></iframe> -->
        </div>
    </div>
    <div class="modal fade" id="json_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:800px">
        <div class="modal-content">
          <div class="modal-body" id="modal_content">
          <!-- 模态框内容 -->
          </div>
        </div>
      </div>
    </div>
</body>